<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="container">
      <h1>Welcome to Tyler and Gabe's Quantified Self API!</h1>
      <div class="instructions">
        <p>The following endpoints are available. All endpoints will return the data as JSON.</p>
      </div>
    </div>
  </body>
</html>
